<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

<p id="notice"><%= notice %></p>

<h1>Owners</h1>

  <div class="row">
    <div class="col-4"
      <ul class ="list-group">
        <% @owners.each do |owner| %>

          <li class="list-group-item">User Name: <%= link_to owner.name, owner_path(owner.id) %></li>
        <% end %>
        <li class="list-group-item"> <%= link_to 'Create New User Account', new_owner_path %></li>
      </ul>
    </div>
  </div>
