<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body
  <div class="container">
    <h1>Welcome</h1>
      <h2>Are You a Returning User?<h2>

      <%= link_to "Let's find me!", owners_path %>
    <h2>Are You a New Visitor to Our Site?<h2>
      <%= link_to 'New', new_owner_path %>
  </div>

  </body>
</html>
