<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "container" >
    <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2015/09/hfh-dog-hero.jpg" class="img-fluid" alt="Responsive image">
    </div>
  <div class="container">
    <h1>Welcome to PickUpPup!</h1>
      <h2>Are you a returning user?<h2>

      <%= link_to "Find your account", owners_path %>
    <h2>Are you new to our site?<h2>
      <%= link_to 'Create an account', new_owner_path %>
  </div>

  </body>
</html>
